

button,button:focus{
    outline: none !important;
    box-shadow: none !important;
}

a{ 
    text-decoration: none !important;
}

// .img-top{
//  height: 500px;
// }


// .product img{ 
//     height: 180px;
// }